/*
.crm-container .crm-pcp-manage div {
  border: 1px solid black;
}
*/
/* override llr's grey background */
#page {
  background: #FFFFFF;
}
.crm-container .crm-pcp-manage .pcp-panel {
  min-height: 218px;
  background-color: #F7F6F6;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  margin-bottom: 20px;
  border-radius: 20px;
  border-bottom: 6px solid;
  border-left: 5px solid;
}
/* divs inside panel */
.crm-container .crm-pcp-manage .pcp-panel .avatar-title-block {
  display: inline-block;
  float: left;
  width: 68%;
}
.crm-container .crm-pcp-manage .pcp-panel .avatar {
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 24%;
}
.crm-container .crm-pcp-manage .pcp-panel .title {
  display: inline-block;
  float: left;
  margin-top: 135px;
  width: 70%;
  padding: 5px;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #424242;
  font-family: "Bliss Pro Heavy",Impact,sans-serif;
}
.crm-container .crm-pcp-manage .pcp-panel .stats {
  display: inline-block;
  float: right;
  margin-top: 45px;
  width: 27%;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total {
  display: block;
  margin-bottom: 20px;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target {
  display: block;
}
/* font fixes */
.crm-container .crm-pcp-manage {
  font-size: 16px !important;
  font-stretch: normal !important;
  color: rgb(98,100,101) !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .amount {
  font-family: "Bliss Pro Heavy",Impact,sans-serif;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total .amount {
  font-size: 40px;
  color: rgb(224, 0, 26);
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target .amount {
  font-size: 20px;
}

/* divs below the panel */
.crm-container .crm-pcp-manage .pcp-body .totaliser {
  display: inline;
  float: left;
  width: 68%;
}
.crm-container .crm-pcp-manage .pcp-body .givetoname {
  display: inline;
  float: right;
  width: 30%;
}
.crm-container .crm-pcp-manage .pcp-body .totaliser-giveto-block,
.crm-container .crm-pcp-manage .pcp-body .mem-header,
.crm-container .crm-pcp-manage .pcp-body .colheader {
  margin-bottom: 10px;
}
.crm-container .crm-pcp-manage .pcp-body .mem-body .mem-row,
.crm-container .crm-pcp-manage .pcp-body .rank,
.crm-container .crm-pcp-manage .pcp-body .top-donations,
.crm-container .crm-pcp-manage .pcp-body .intro-text,
.crm-container .crm-pcp-manage .pcp-body .page-text,
.crm-container .crm-pcp-manage .pcp-body .team-section {
  background-color: #F7F6F6;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 12px;
}
.crm-container .crm-pcp-manage .pcp-body .mem-body .mem-row {
  width: 98%;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-text, 
.crm-container .crm-pcp-manage .pcp-body .team-section .no-team-text {
  display: block;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-raisers-block, 
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-buttons, 
.crm-container .crm-pcp-manage .pcp-body .team-section .no-team-buttons {
  margin-top: 15px;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-text, 
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-raisers-block {
  text-align: center;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .avatar {
  display: inline-block;
  float: left;
  width: 20%;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .avatar img {
  float: right;
  padding-right: 30px;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .team-info {
  display: inline-block;
  width: 50%;
  float: left;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .team-stats {
  display: inline-block;
  width: 25%;
  float: right;
}
.crm-container .crm-pcp-manage .pcp-body .mem-body-row {
  display: inline-block;
  float: left;
  width: 19%;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-raisers {
  display: inline-block;
  width: 20%;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .top-fund-raisers img {
  display: block;
}
.crm-container .crm-pcp-manage .pcp-body .mem-header,
.crm-container .crm-pcp-manage .btn-donate,
.crm-container .crm-pcp-manage .pcp-body .totaliser .colheader {
  font-size: 24px;
  line-height: 47px;
  color: white;
  display: block;
  text-align: center;
}
.crm-container .crm-pcp-manage .btn-donate {
  font-family: "Bliss Pro Heavy", Impact, sans-serif;
  text-transform: uppercase;
  border-radius: 12px;
  background-color: #e0001a;
  border-bottom: 3px solid #b52e28;
  width: 222px;
  height: 46px;
}
.crm-container .crm-pcp-manage .pcp-body .mem-header,
.crm-container .crm-pcp-manage .pcp-body .totaliser .colheader {
  background-color: #999999;
  height: 49px;
  border-radius: 3px;
}
.crm-container .crm-pcp-manage .btn-donate > a,
.crm-container .crm-pcp-manage .btn-donate > a:visited {
  color: #ffffff;
  /* to make whole button clickable, not just the text*/
  display: inline-block;
  width: 100%;
}
.crm-container .crm-pcp-manage .btn-donate-small {
  color: white;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
}
.crm-container .crm-pcp-manage .pcp-button {
  color: white;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
}
.crm-container .crm-pcp-manage .pcp-btn-green {
  background-color: #60b044;
}
.crm-container .crm-pcp-manage .btn-donate-small,
.crm-container .crm-pcp-manage .pcp-btn-red {
  background-color: #e0001a;
}
.crm-container .crm-pcp-manage .pcp-bar {
  height: 10px;
  border-radius: 10px;
  background-color: #999;
  width: 100%;
}
.crm-container .crm-pcp-manage .pcp-bar-progress {
  height: 10px;
  border-radius: 10px;
  background-color: #e0001a;
}
.crm-container .crm-pcp-manage .pcp-message {
  background-size: 40px 40px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
  transparent 75%, transparent);                                      
  width: 97%;
  border: 1px solid;
  color: #fff;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.crm-container .crm-pcp-manage .pcp-info {
  background-color: #999999;
  border-color: #55a12c;
}
