/*
.crm-container .crm-pcp-manage div {
  border: 1px solid black !important;
}
*/
/* override llr's grey background */
#page {
  background: #FFFFFF !important;
}
.crm-container .crm-pcp-manage  {
  font-size: 16px !important;
  line-height: 1.4 !important;
}
.crm-container .crm-pcp-manage .pcp-panel {
  min-height: 218px !important;
  background-color: #F7F6F6 !important;
  background-image: none !important;
  background-repeat: repeat !important;
  background-attachment: scroll !important;
  background-position: 0% 0% !important;
  background-clip: border-box !important;
  background-origin: padding-box !important;
  background-size: auto auto !important;
  margin-bottom: 20px !important;
  border-radius: 3px !important;
  box-shadow: rgb(153, 153, 153) 0px 2px 8px 0px !important;
  border: 1px solid #c4c4c4 !important;
}
/* divs inside panel */
.crm-container .crm-pcp-manage .pcp-panel .avatar-title-block {
  display: inline-block !important;
  float: left !important;
  width: 62% !important;
}
.crm-container .crm-pcp-manage .pcp-panel .avatar {
  display: inline-block !important;
  float: left !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
  width: 24% !important;
}
.crm-container .crm-pcp-manage .pcp-panel .title {
  display: inline-block !important;
  float: left !important;
  margin-top: 135px !important;
  width: 70% !important;
  padding: 5px !important;
  font-size: 22px !important;
  line-height: 1.2 !important;
  text-transform: uppercase !important;
  color: #424242 !important;
  font-family: "Bliss Pro Heavy",Impact,sans-serif !important;
}
.crm-container .crm-pcp-manage .pcp-panel .pcp-progress {
  display: inline-block !important;
  float: left !important;
  margin-top: 19px !important;
  width: 132px !important;
}
.crm-container .crm-pcp-manage .pcp-panel .pcp-progress span {
  display: inline-block !important;
  float: left !important;
  position: relative !important;
  top: 83px !important;
  left: 40px !important;
  font-size: 23px !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats {
  display: inline-block !important;
  float: left !important;
  margin-top: 61px !important;
  margin-left: 20px !important;
  width: 20% !important;
}
.crm-container .crm-pcp-manage .stats,
.crm-container .crm-pcp-manage .team-stats {
  line-height: 1.0 !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total {
  display: block !important;
  margin-bottom: 20px !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target {
  display: block !important;
}
/* font fixes */
.crm-container .crm-pcp-manage {
  font-size: 16px !important !important;
  font-stretch: normal !important !important;
  color: rgb(98,100,101) !important !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target .amount {
  float: left !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target .crm-pcp-inline-edit {
  width: 70% !important;
  margin-left: 4px;
}
.crm-container .crm-pcp-manage .pcp-body .team-stats .amount,
.crm-container .crm-pcp-manage .pcp-panel .stats .amount {
  font-family: "Bliss Pro Heavy",Impact,sans-serif !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-stats .raised-total .amount,
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total .amount {
  color: rgb(224, 0, 26) !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-stats .raised-total .amount {
  font-size: 22px !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-stats .raised-total {
  margin-bottom: 10px !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total .amount {
  font-size: 40px !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target .amount {
  font-size: 20px !important;
}

/* divs below the panel */
.crm-container .crm-pcp-manage .pcp-body .totaliser {
  display: inline !important;
  float: left !important;
  width: 68% !important;
}
.crm-container .crm-pcp-manage .pcp-body .givetoname {
  display: inline !important;
  float: right !important;
  width: 30% !important;
}
.crm-container .crm-pcp-manage .pcp-body .totaliser-giveto-block,
.crm-container .crm-pcp-manage .pcp-body .mem-header,
.crm-container .crm-pcp-manage .pcp-body .colheader {
  margin-bottom: 10px !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section h3 {
  background-color: #F7F6F6 !important;
  font-size: 16px !important;
}
.crm-container .crm-pcp-manage .pcp-body .mem-body .mem-row,
.crm-container .crm-pcp-manage .pcp-body .rank,
.crm-container .crm-pcp-manage .pcp-body .top-donations,
.crm-container .crm-pcp-manage .pcp-body .intro-text,
.crm-container .crm-pcp-manage .pcp-body .page-text,
.crm-container .crm-pcp-manage .pcp-body .team-section {
  background-color: #F7F6F6 !important;
  margin-bottom: 10px !important;
  padding: 10px !important;
  border-radius: 12px !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section {
  text-align: center !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .pending-team-buttons,
.crm-container .crm-pcp-manage .pcp-body .team-section .team-buttons {
  text-align: left !important;
}
.crm-container .crm-pcp-manage .pcp-body .mem-body .mem-row {
  width: 98% !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .avatar {
  display: inline-block !important;
  float: left !important;
  width: 20% !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .avatar img {
  float: right !important;
  padding-right: 30px !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .team-info {
  display: inline-block !important;
  width: 50% !important;
  float: left !important;
}
.crm-container .crm-pcp-manage .pcp-body .team-section .team-stats {
  display: inline-block !important;
  width: 25% !important;
  float: right !important;
}
.crm-container .crm-pcp-manage .pcp-body .mem-body-row {
  display: inline-block !important;
  float: left !important;
  width: 19% !important;
}
.crm-container .crm-pcp-manage .pcp-body .mem-header,
.crm-container .crm-pcp-manage .btn-donate,
.crm-container .crm-pcp-manage .pcp-body .totaliser .colheader {
  font-size: 24px !important;
  line-height: 47px !important;
  color: white !important;
  display: block !important;
  text-align: center !important;
}
.crm-container .crm-pcp-manage .btn-donate {
  font-family: "Bliss Pro Heavy", Impact, sans-serif !important;
  text-transform: uppercase !important;
  border-radius: 12px !important;
  background-color: #e0001a !important;
  border-bottom: 3px solid #b52e28 !important;
  width: 222px !important;
  height: 46px !important;
}
.crm-container .crm-pcp-manage .pcp-body .mem-header,
.crm-container .crm-pcp-manage .pcp-body .totaliser .colheader {
  background-color: #999999 !important;
  height: 49px !important;
  border-radius: 3px !important;
}
.crm-container .crm-pcp-manage .btn-donate > a,
.crm-container .crm-pcp-manage .btn-donate > a:visited {
  color: #ffffff !important;
  /* to make whole button clickable, not just the text*/
  display: inline-block !important;
  width: 100% !important;
}
.crm-container .crm-pcp-manage .btn-donate-small {
  color: white !important;
  padding: 4px 10px 4px 10px !important;
  border-radius: 6px !important;
}
.crm-container .crm-pcp-manage .pcp-button {
  color: white !important;
  padding: 4px 10px 4px 10px !important;
  border-radius: 6px !important;
}
.crm-container .crm-pcp-manage .pcp-btn-green {
  background-color: #60b044 !important;
}
.crm-container .crm-pcp-manage .btn-donate-small,
.crm-container .crm-pcp-manage .pcp-btn-red {
  background-color: #e0001a !important;
}
.crm-container .crm-pcp-manage .pcp-bar {
  height: 10px !important;
  border-radius: 10px !important;
  background-color: #999 !important;
  width: 100% !important;
}
.crm-container .crm-pcp-manage .pcp-bar-progress {
  height: 10px !important;
  border-radius: 10px !important;
  background-color: #e0001a !important;
}
.crm-container .crm-pcp-manage .pcp-message {
  background-size: 40px 40px !important;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
  transparent 75%, transparent) !important;                                      
  width: 97% !important;
  border: 1px solid !important;
  color: #fff !important;
  padding: 15px !important;
  border-radius: 3px !important;
  margin-bottom: 10px !important;
}
.crm-container .crm-pcp-manage .pcp-info {
  background-color: #999999 !important;
  border-color: #55a12c !important;
}
.crm-container .crm-pcp-manage .waiting-approval {
  margin-bottom: 10px !important;
}
