/*
.crm-container .crm-pcp-manage div {
  border: 1px solid black;
}
 */
.crm-container .crm-pcp-manage .pcp-panel {
  min-height: 191px;
  background-color: #F7F6F6;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  margin-bottom: 20px;
  border-radius: 20px;
}
/* divs inside panel */
.crm-container .crm-pcp-manage .pcp-panel .profile-avatar {
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 20%;
}
.crm-container .crm-pcp-manage .pcp-panel .title {
  display: inline-block;
  float: left;
  margin-top: 114px;
  width: 50%;
  padding: 5px;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #424242;
  font-family: "Bliss Pro Heavy",Impact,sans-serif;
}
.crm-container .crm-pcp-manage .pcp-panel .stats {
  display: inline-block;
  float: right;
  margin-top: 45px;
  margin-right: 20px;
  width: 20%;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total {
  display: block;
  margin-bottom: 20px;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target {
  display: block;
}
/* font fixes */
.crm-container .crm-pcp-manage {
  font-size: 16px !important;
  font-stretch: normal !important;
  color: rgb(98,100,101) !important;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .amount {
  font-family: "Bliss Pro Heavy",Impact,sans-serif;
}
.crm-container .crm-pcp-manage .pcp-panel .stats .raised-total .amount {
  font-size: 40px;
  color: rgb(224, 0, 26);
}
.crm-container .crm-pcp-manage .pcp-panel .stats .target .amount {
  font-size: 20px;
}
/* divs below the panel */
.crm-container .crm-pcp-manage .pcp-body .totaliser {
  display: inline;
  float: left;
  width: 68%;
}
.crm-container .crm-pcp-manage .pcp-body .givetoname {
  display: inline;
  float: right;
  width: 30%;
}
.crm-container .crm-pcp-manage .pcp-body .colheader,
.crm-container .crm-pcp-manage .pcp-body .rank,
.crm-container .crm-pcp-manage .pcp-body .top-donations
{
  margin-bottom: 10px;
}
.crm-container .crm-pcp-manage .pcp-body .intro-text,
.crm-container .crm-pcp-manage .pcp-body .page-text {
  background-color: #F7F6F6;
  margin-bottom: 10px;
  padding: 10px;
}
.crm-container .crm-pcp-manage .btn-donate {
  font-family: "Bliss Pro Heavy", Impact, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 47px;
  background-color: #e0001a;
  border-bottom: 3px solid #b52e28;
  color: white;
  text-align: center;
  width: 222px;
  height: 46px;
  display: block;
  border-radius: 12px;
}
.crm-container .crm-pcp-manage .btn-donate > a {
  color: #ffffff;
  /* to make whole button clickable, not just the text*/
  display: inline-block;
  width: 100%;
}
